html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* fireship navabr tutorial */

:root{
  font-size: 16px;
  --text-primary: #b6b6bb;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 300ms;
}


body{
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #ffffff;
}

body::-webkit-scrollbar-thumb{
  background: #8f8f8f;
}

main{
  margin-left: 5rem;
  padding: 1rem;
}

.navbar{
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 100ms ease;
}

.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item{
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg{
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover .link-text {
  display: block;
}

.fa-primary{
  fill: #7efff9;
}

.fa-secondary{
  fill: #49bcdf;
}

.fa-primary .fa-secondary {
  transition: var(--transition-speed);
}

@media only screen and (max-width: 600px) {
  
  .nav-link svg{
    width: 2rem;
    margin: 0 1.5rem;
  }

  .navbar{
    display: block;
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  
  .navbar:hover svg{
    display: none;
  }

  .navbar-nav{
    flex-direction: row;
  }

  .nav-link{
    justify-content: center;
  }

  main{
    margin: 0;
  }

  .nav-item:last-child {
  background-color: rgb(68, 68, 68);
  }
}

@media only screen and (min-width: 600px) {
  .nav-link svg{
    width: 2rem;
  }

  .navbar:hover {
    width: 12rem;
  }

  .navbar{
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover{
    width: 12rem;
  }

  .navbar:hover .link-text{
    display: inline;
    transition: opacity var(--transition-speed);
  }

  .nav-item:last-child {
  background-color: rgb(68, 68, 68);
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
}
}

/* end navbar tutorial */

.welcome-image{
  position: relative;
  /* background-color: rgb(0, 68, 255); */
  width: 50vw;
  height: 60vh;
  left: -5rem; /* to counteract the navbar offset*/
  transform: translateX(50%);
  border-radius: 5rem;
}


.todo{
  text-align: center;
  margin-top: auto;
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  color: #23232e;
  font-style: italic;
  font-weight: 500;
}